input, textarea {
  padding: 15px;
}

.textarea-section {
  background-color: rgb(120, 120, 120);
  width: 100%;
  margin-bottom: 10px;
  color: #ffffff;
}

::placeholder { 
  color: white;
  opacity: 0.6; 
}